<h2>Proceso para restablecer contraseña</h2>
<br />

<form id="send-mail" action="/api/sessions/resetpassword" method="post">
  <div id="message"></div>
  <label for="email">Email:</label>
  <input type="email" name="email" placeholder="email" id="email" />

  <button type="submit">Enviar Email</button>
</form>

<script src="/js/forgotPassword.js"></script>