<div class="navbar-container">
  <h1 class="title">Fiuumb3</h1>
  <div class="navbar">
    <a href="/products">Productos</a>
    <a href="/realtimeproducts">Administrador</a>
    <a href="/cart/carts/6607ae06feb283d3a93e4118">Cart</a>
    <a href="/api/users/logout">Logout</a>
  </div>
</div>
<hr />

<h3>Lista de productos</h3>

<ul>
  {{#each products}}
    <li><strong>nombre:</strong>
      {{title}}
      -
      <strong>precio:</strong>
      ${{price}}
    </li>
  {{/each}}
</ul>