<h2>Login</h2>
{{! <a href="/products">Products</a> }}
<hr />
<form id="login-form" action="/api/sessions/login" method="post">

  <label for="email">Email:</label>
  <input type="email" name="email" placeholder="email" id="email" />
  <label for="password">Password:</label>
  <input
    type="password"
    name="password"
    placeholder="contraseña"
    id="password"
  />
  <button type="submit">Login</button>

</form>

<br />
<a href="/api/sessions/register">Regístrate</a>
<br />
<a href="/api/sessions/github">Ingresar con github</a>

<script src="/js/login.js"></script>